<!-- Header -->
<header id="header">
    <a class="logo" href="/">Ticketswapper</a>
    <nav>
        <a href="#menu">Menu</a>
    </nav>
</header>

<!-- Nav -->
<nav id="menu">
    <ul class="links">
        <li><a href="/">Home</a></li>
        <li><a href="/register-event">Register event</a></li>
        <li><a href="/add-ticket">Add ticket</a></li>
        <li><a href="/events">Events</a></li>
        <li><a href="#">Login</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
</nav>