<!-- Header -->
<header id="header">
    <a class="logo" href="index.php">Ticketswapper</a>
    <nav>
        <a href="#menu">Menu</a>
    </nav>
</header>

<!-- Nav -->
<nav id="menu">
    <ul class="links">
        <li><a href="index.php">Home</a></li>
        <li><a href="register-event.php">Register event</a></li>
        <li><a href="add-ticket.php">Add ticket</a></li>
        <li><a href="events.php">Events</a></li>
        <li><a href="#">Login</a></li>
        <li><a href="index.php">Contact</a></li>
    </ul>
</nav>